<tr>
    <td>Sunita Yadav</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Cooking</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="6" data-maid-name="Sunita Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Radha Rani</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="7" data-maid-name="Radha Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Aarti Patel</td>
    <td class="location">Mumbai</td>
    <td>Cooking, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="8" data-maid-name="Aarti Patel">Book</button>
    </td>
</tr>
<tr>
    <td>Meena Kumari</td>
    <td class="location">Kolkata</td>
    <td>Cleaning, Child Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="9" data-maid-name="Meena Kumari">Book</button>
    </td>
</tr>
<tr>
    <td>Preeti Singh</td>
    <td class="location">Chennai</td>
    <td>Cooking, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="10" data-maid-name="Preeti Singh">Book</button>
    </td>
</tr>
<tr>
    <td>Shalini Gupta</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Cooking</td>
    <td>Both</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="11" data-maid-name="Shalini Gupta">Book</button>
    </td>
</tr>
<tr>
    <td>Manju Verma</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="12" data-maid-name="Manju Verma">Book</button>
    </td>
</tr>
<tr>
    <td>Vidya Raj</td>
    <td class="location">Mumbai</td>
    <td>Cleaning, Cooking</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="13" data-maid-name="Vidya Raj">Book</button>
    </td>
</tr>
<tr>
    <td>Anjali Thakur</td>
    <td class="location">Chennai</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="14" data-maid-name="Anjali Thakur">Book</button>
    </td>
</tr>
<tr>
    <td>Suman Rani</td>
    <td class="location">Delhi</td>
    <td>Cooking, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="15" data-maid-name="Suman Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Shilpa Joshi</td>
    <td class="location">Mumbai</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="16" data-maid-name="Shilpa Joshi">Book</button>
    </td>
</tr>
<tr>
    <td>Komal Sharma</td>
    <td class="location">Kolkata</td>
    <td>Child Care, Cleaning</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="17" data-maid-name="Komal Sharma">Book</button>
    </td>
</tr>
<tr>
    <td>Pooja Patil</td>
    <td class="location">Bangalore</td>
    <td>Cooking, Cleaning</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="18" data-maid-name="Pooja Patil">Book</button>
    </td>
</tr>
<tr>
    <td>Rekha Devi</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="19" data-maid-name="Rekha Devi">Book</button>
    </td>
</tr>
<tr>
    <td>Jyoti Agarwal</td>
    <td class="location">Chennai</td>
    <td>Cooking, Child Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="20" data-maid-name="Jyoti Agarwal">Book</button>
    </td>
</tr>
<tr>
    <td>Rita Kumari</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="21" data-maid-name="Rita Kumari">Book</button>
    </td>
</tr>
<tr>
    <td>Kavita Singh</td>
    <td class="location">Mumbai</td>
    <td>Child Care, Cooking</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="22" data-maid-name="Kavita Singh">Book</button>
    </td>
</tr>
<tr>
    <td>Shalini Rani</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Cooking</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="23" data-maid-name="Simran Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Anju Verma</td>
    <td class="location">Chennai</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="24" data-maid-name="Anju Verma">Book</button>
    </td>
</tr>
<tr>
    <td>Sarita Devi</td>
    <td class="location">Kolkata</td>
    <td>Cooking, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="25" data-maid-name="Sarita Devi">Book</button>
    </td>
</tr>
<tr>
    <td>Alka Rani</td>
    <td class="location">Bangalore</td>
    <td>Child Care, Cleaning</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="26" data-maid-name="Alka Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Jaya Kumari</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="27" data-maid-name="Jaya Kumari">Book</button>
    </td>
</tr>
<tr>
    <td>Saroj Yadav</td>
    <td class="location">Mumbai</td>
    <td>Cooking, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="28" data-maid-name="Saroj Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Neelam Gupta</td>
    <td class="location">Chennai</td>
    <td>Cleaning, Cooking</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="29" data-maid-name="Neelam Gupta">Book</button>
    </td>
</tr>
<tr>
    <td>Taruna Patil</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="30" data-maid-name="Taruna Patil">Book</button>
    </td>
</tr>
<tr>
    <td>Divya Joshi</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Cooking</td>
    <td>Both</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="31" data-maid-name="Divya Joshi">Book</button>
    </td>
</tr>
<tr>
    <td>Shivani Singh</td>
    <td class="location">Kolkata</td>
    <td>Child Care, Cooking</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="32" data-maid-name="Shivani Singh">Book</button>
    </td>
</tr>
<tr>
    <td>Ashwini Kumar</td>
    <td class="location">Mumbai</td>
    <td>Cooking, Cleaning</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="33" data-maid-name="Ashwini Kumar">Book</button>
    </td>
</tr>
<tr>
    <td>Ranjana Rani</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="34" data-maid-name="Ranjana Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Suman Yadav</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Child Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="35" data-maid-name="Suman Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Gita Sharma</td>
    <td class="location">Chennai</td>
    <td>Cooking, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="36" data-maid-name="Gita Sharma">Book</button>
    </td>
</tr>
<tr>
    <td>Kiran Yadav</td>
    <td class="location">Kolkata</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="37" data-maid-name="Kiran Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Leela Devi</td>
    <td class="location">Delhi</td>
    <td>Child Care, Cooking</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="38" data-maid-name="Leela Devi">Book</button>
    </td>
</tr>
<tr>
    <td>Sumati Patel</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Child Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="39" data-maid-name="Sumati Patel">Book</button>
    </td>
</tr>
<tr>
    <td>Indu Kumari</td>
    <td class="location">Chennai</td>
    <td>Cleaning, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="40" data-maid-name="Indu Kumari">Book</button>
    </td>
</tr>
<tr>
    <td>Bharti Yadav</td>
    <td class="location">Mumbai</td>
    <td>Cooking, Cleaning</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="41" data-maid-name="Bharti Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Vandana Rani</td>
    <td class="location">Delhi</td>
    <td>Child Care, Elder Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="42" data-maid-name="Vandana Rani">Book</button>
    </td>
</tr>
<tr>
    <td>Neelam Joshi</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Cooking</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="43" data-maid-name="Neelam Joshi">Book</button>
    </td>
</tr>
<tr>
    <td>Sudha Verma</td>
    <td class="location">Kolkata</td>
    <td>Cooking, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="44" data-maid-name="Sudha Verma">Book</button>
    </td>
</tr>
<tr>
    <td>Rajkumari Patel</td>
    <td class="location">Mumbai</td>
    <td>Cleaning, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="45" data-maid-name="Rajkumari Patel">Book</button>
    </td>
</tr>
<tr>
    <td>Rina Yadav</td>
    <td class="location">Delhi</td>
    <td>Cooking, Child Care</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="46" data-maid-name="Rina Yadav">Book</button>
    </td>
</tr>
<tr>
    <td>Namrata Joshi</td>
    <td class="location">Bangalore</td>
    <td>Cleaning, Cooking</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="47" data-maid-name="Namrata Joshi">Book</button>
    </td>
</tr>
<tr>
    <td>Manju Devi</td>
    <td class="location">Kolkata</td>
    <td>Child Care, Cleaning</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="48" data-maid-name="Manju Devi">Book</button>
    </td>
</tr>
<tr>
    <td>Leela Kumari</td>
    <td class="location">Chennai</td>
    <td>Cooking, Elder Care</td>
    <td>Non-Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="49" data-maid-name="Leela Kumari">Book</button>
    </td>
</tr>
<tr>
    <td>Pinki Patel</td>
    <td class="location">Delhi</td>
    <td>Cleaning, Cooking</td>
    <td>Veg</td>
    <td>
        <button type="button" class="btn btn-primary book-btn" data-maid-id="50" data-maid-name="Pinki Patel">Book</button>
    </td>
</tr>

    <tr>
        <td>Rajeshwari Rani</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="51" data-maid-name="Rajeshwari Rani">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sushma Thakur</td>
        <td class="location">Bangalore</td>
        <td>Child Care, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="52" data-maid-name="Sushma Thakur">Book</button>
        </td>
    </tr>
    <tr>
        <td>Kamini Devi</td>
        <td class="location">Delhi</td>
        <td>Cleaning, Cooking</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="53" data-maid-name="Kamini Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Renu Sharma</td>
        <td class="location">Chennai</td>
        <td>Child Care, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="54" data-maid-name="Renu Sharma">Book</button>
        </td>
    </tr>
    <tr>
        <td>Savitri Kumari</td>
        <td class="location">Bangalore</td>
        <td>Cleaning, Cooking</td>
        <td>Both</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="55" data-maid-name="Savitri Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Chandrika Yadav</td>
        <td class="location">Delhi</td>
        <td>Cooking, Child Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="56" data-maid-name="Chandrika Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Annu Rani</td>
        <td class="location">Kolkata</td>
        <td>Child Care, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="57" data-maid-name="Annu Rani">Book</button>
        </td>
    </tr>
    <tr>
        <td>Rashmi Kumari</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="58" data-maid-name="Rashmi Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Gulshan Devi</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Cooking</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="59" data-maid-name="Gulshan Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Shubha Patil</td>
        <td class="location">Bangalore</td>
        <td>Cooking, Child Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="60" data-maid-name="Shubha Patil">Book</button>
        </td>
    </tr>
    <tr>
        <td>Pinki Devi</td>
        <td class="location">Delhi</td>
        <td>Child Care, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="61" data-maid-name="Pinki Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Anjali Devi</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="62" data-maid-name="Anjali Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Radha Verma</td>
        <td class="location">Kolkata</td>
        <td>Cooking, Child Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="63" data-maid-name="Radha Verma">Book</button>
        </td>
    </tr>
    <tr>
        <td>Vimla Yadav</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="64" data-maid-name="Vimla Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Kavita Rani</td>
        <td class="location">Bangalore</td>
        <td>Child Care, Cooking</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="65" data-maid-name="Kavita Rani">Book</button>
        </td>
    </tr>
    <tr>
        <td>Suman Devi</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="66" data-maid-name="Suman Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Kiran Sharma</td>
        <td class="location">Delhi</td>
        <td>Cooking, Child Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="67" data-maid-name="Kiran Sharma">Book</button>
        </td>
    </tr>
    <tr>
        <td>Pramila Kumari</td>
        <td class="location">Kolkata</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="68" data-maid-name="Pramila Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Meera Devi</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Cooking</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="69" data-maid-name="Meera Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sarita Kumari</td>
        <td class="location">Bangalore</td>
        <td>Child Care, Cleaning</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="70" data-maid-name="Sarita Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Urmila Yadav</td>
        <td class="location">Delhi</td>
        <td>Cooking, Child Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="71" data-maid-name="Urmila Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Rita Verma</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="72" data-maid-name="Rita Verma">Book</button>
        </td>
    </tr>
    <tr>
        <td>Neelam Devi</td>
        <td class="location">Bangalore</td>
        <td>Cooking, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="73" data-maid-name="Neelam Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Shalini Devi</td>
        <td class="location">Delhi</td>
        <td>Child Care, Cleaning</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="74" data-maid-name="Shalini Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Chandni Kumari</td>
        <td class="location">Kolkata</td>
        <td>Cooking, Child Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="75" data-maid-name="Chandni Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Kavita Yadav</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="76" data-maid-name="Kavita Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Seema Devi</td>
        <td class="location">Chennai</td>
        <td>Child Care, Cooking</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="77" data-maid-name="Seema Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Vidya Devi</td>
        <td class="location">Bangalore</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="78" data-maid-name="Vidya Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Preeti Kumari</td>
        <td class="location">Delhi</td>
        <td>Child Care, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="79" data-maid-name="Preeti Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Meena Yadav</td>
        <td class="location">Chennai</td>
        <td>Cooking, Child Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="80" data-maid-name="Meena Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Anjali Rani</td>
        <td class="location">Bangalore</td>
        <td>Cleaning, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="81" data-maid-name="Anjali Rani">Book</button>
        </td>
    </tr>
    <tr>
        <td>Pooja Kumari</td>
        <td class="location">Delhi</td>
        <td>Cleaning, Cooking</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="82" data-maid-name="Pooja Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Rukmini Devi</td>
        <td class="location">Mumbai</td>
        <td>Child Care, Cooking</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="83" data-maid-name="Rukmini Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Saroj Kumari</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Child Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="84" data-maid-name="Saroj Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Suman Yadav</td>
        <td class="location">Bangalore</td>
        <td>Cleaning, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="85" data-maid-name="Suman Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Gita Kumari</td>
        <td class="location">Delhi</td>
        <td>Cooking, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="86" data-maid-name="Gita Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Usha Devi</td>
        <td class="location">Mumbai</td>
        <td>Cleaning, Child Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="87" data-maid-name="Usha Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Vimla Rani</td>
        <td class="location">Kolkata</td>
        <td>Child Care, Cleaning</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="88" data-maid-name="Vimla Rani">Book</button>
        </td>
    </tr>
    <tr>
        <td>Shubha Kumari</td>
        <td class="location">Bangalore</td>
        <td>Cooking, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="89" data-maid-name="Shubha Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Chhaya Yadav</td>
        <td class="location">Delhi</td>
        <td>Child Care, Cleaning</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="90" data-maid-name="Chhaya Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Indira Verma</td>
        <td class="location">Chennai</td>
        <td>Cooking, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="91" data-maid-name="Indira Verma">Book</button>
        </td>
    </tr>
    <tr>
        <td>Raj Kumari</td>
        <td class="location">Kolkata</td>
        <td>Child Care, Cooking</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="92" data-maid-name="Raj Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Gargi Devi</td>
        <td class="location">Bangalore</td>
        <td>Cleaning, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="93" data-maid-name="Gargi Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sarita Yadav</td>
        <td class="location">Delhi</td>
        <td>Cooking, Cleaning</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="94" data-maid-name="Sarita Yadav">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sunita Kumari</td>
        <td class="location">Mumbai</td>
        <td>Child Care, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="95" data-maid-name="Sunita Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Shanta Devi</td>
        <td class="location">Chennai</td>
        <td>Cleaning, Cooking</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="96" data-maid-name="Shanta Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Kumari Devi</td>
        <td class="location">Kolkata</td>
        <td>Child Care, Elder Care</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="97" data-maid-name="Kumari Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sarita Kumari</td>
        <td class="location">Delhi</td>
        <td>Cleaning, Elder Care</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="98" data-maid-name="Sarita Kumari">Book</button>
        </td>
    </tr>
    <tr>
        <td>Sunita Devi</td>
        <td class="location">Bangalore</td>
        <td>Cooking, Cleaning</td>
        <td>Non-Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="99" data-maid-name="Sunita Devi">Book</button>
        </td>
    </tr>
    <tr>
        <td>Shashi Kumari</td>
        <td class="location">Chennai</td>
        <td>Child Care, Cooking</td>
        <td>Veg</td>
        <td>
            <button type="button" class="btn btn-primary book-btn" data-maid-id="100" data-maid-name="Shashi Kumari">Book</button>
        </td>
    </tr>
